{% extends "base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="container">
        <div class="header"></div>
<!--            Привет, <b>гость</b>.<br>-->
<!--            Пожалуйста, <a href="/signup">зарегистрируйся</a> или <a href="/login">авторизуйся</a>!-->
            {% if user.is_authenticated %}
                <p>Привет {{ user.username }}!</p>
                <p><a href="/signup">Зарегистрировать нового пользователя </a></p>
                <p><a href="/login">Авторизоваться под другим пользователем</a></p>
                <p><a href="logged_out/">Выйти</a></p>
            {% else %}
                Привет, <b>гость</b>.<br>
                Пожалуйста, <a href="/signup">зарегистрируйся</a> или <a href="/login">авторизуйся</a>!
            {% endif %}
    </div>
{% endblock %}